Package: com.bradleytm.removeamazonai
Name: RemoveAmazonAI
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: bradleytechman
Author: bradleytechman
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
